@{
    ViewData["Title"] = "Listado de Materiales";
}

<!-- Contenedor principal -->
<div class="container mt-4">

    <!-- Título -->
    <div class="card rounded-pill w-25 mb-3 border-0 shadow-sm">
        <div class="card-body text-center">
            <h2 class="h5 fw-bold mb-0">📦 Listado de materiales</h2>
        </div>
    </div>
    <!-- Card contenedor de la tabla -->
    <div class="card rounded-4 border-0 shadow-sm">
        <div class="card-body">
            <div class="table-responsive rounded">
                <table id="materialesTable" class="table-bordered table text-center align-middle">
                    <thead class="table-dark">
                        <tr>
                            <th>Imagen</th>
                            <th>Descripción</th>
                            <th>Kanban</th>
                            <th>Part Number</th>
                            <th>UOM</th>
                            <th>StdPack</th>
                            <th>Costo</th>
                            <th>Categoría</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="historialModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Historial del Material</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">

                <div id="infoMaterial" class="mb-3 p-3 rounded border bg-light d-flex gap-3 align-items-center">
                    <img id="infoImagen" src="" class="rounded" style="width:60px;height:60px;object-fit:cover;">
                    <div>
                        <h5 id="infoNombre" class="fw-bold mb-1"></h5>
                        <div class="text-muted small">
                            <span id="infoKanban"></span> |
                            <span id="infoPart"></span> |
                            <span id="infoCategoria"></span>
                        </div>
                    </div>
                </div>

                <table id="historialTable" class="table table-bordered table-striped align-middle">
                    <thead class="table-secondary">
                        <tr>
                            <th>No. Pedido</th>
                            <th>Fecha</th>
                            <th>TM Entrega</th>
                            <th>TM Recibe</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

           
        </div>
    </div>
</div>
@section Scripts {
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

    <!-- DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.7/css/dataTables.bootstrap5.css" />
    <script src="https://cdn.datatables.net/2.3.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.3.7/js/dataTables.bootstrap5.js"></script>

    <script>
        $(document).ready(function () {
            $('#materialesTable').DataTable({
                ajax: '/Inventario/GetMateriales',
                responsive: true,
                columns: [
                    {
                        data: 'imageUrl', className: 'text-center',
                        render: function (data) {
                            let defaultImage = "/images/materiales/default.png";
                            let imgSrc = data && data.trim() !== "" ? data : defaultImage;
                            return `<img src="${imgSrc}" alt="Imagen" class="img-thumbnail" style="width:48px;height:48px;object-fit:cover;" />`;
                        }
                    },
                    { data: 'description', className: 'text-center'  },
                    { data: 'kanban' , className: 'text-center'  },
                    { data: 'partNumber' , className: 'text-center'  },
                    {
                        data: 'uom', className: 'text-center',
                        render: function (data) {
                            if (!data) return "";
                            let badgeClass = "bg-secondary";

                            switch (data.toUpperCase()) {
                                case "GA": badgeClass = "bg-gradient-blue"; break;
                                case "EA": badgeClass = "bg-gradient-green"; break;
                                case "KG": badgeClass = "bg-gradient-orange text-dark"; break;
                                case "LT": badgeClass = "bg-gradient-purple"; break;
                            }

                            return `<span class="badge ${badgeClass}">${data}</span>`;
                        }
                    },
                    { data: 'stdPack' , className: 'text-center' },
                    { data: 'cost' , className: 'text-center' },
                    { data: 'category' , className: 'text-center' },
                    {
                        data: 'id',
                        className: 'text-center',
                        render: function (id, type, row) {
                            return `
                                <button class="btn btn-sm bg-gradient-blue text-white ver-historial rounded-pill"
                                    data-id="${id}"
                                    data-nombre="${row.description}"
                                    data-kanban="${row.kanban}"
                                    data-part="${row.partNumber}"
                                    data-categoria="${row.category}"
                                    data-imagen="${row.imageUrl}">
                                    <i class="bi bi-clock-history"></i>
                                </button>
                            `;
                        }
                    }
                ],
                pageLength: 10,
                 language: {
                    url: "https://cdn.datatables.net/plug-ins/2.3.7/i18n/es-MX.json"
                }
            });
        });

                $('#materialesTable').on('click', '.ver-historial', function () {

            let idMaterial = $(this).data('id');

            // Datos del material
            let nombre = $(this).data('nombre');
            let kanban = $(this).data('kanban');
            let part = $(this).data('part');
            let categoria = $(this).data('categoria');
            let imagen = $(this).data('imagen') || "/images/materiales/default.png";

            // Llenar info en el modal
            $('#infoImagen').attr('src', imagen);
            $('#infoNombre').text(nombre);
            $('#infoKanban').text("Kanban: " + kanban);
            $('#infoPart').text("Part Number: " + part);
            $('#infoCategoria').text("Categoría: " + categoria);

            // Destruir DataTable previo si existe
            if ($.fn.DataTable.isDataTable('#historialTable')) {
                $('#historialTable').DataTable().clear().destroy();
            }

            // Crear DataTable del historial
            $('#historialTable').DataTable({
                ajax: {
                    url: '/Inventario/GetHistorialMaterial',
                    data: { idMaterial: idMaterial }
                },
                columns: [
                    { data: 'pedidoId', className: 'text-center' },
                    { data: 'fecha', className: 'text-center' },
                    { data: 'entrega', className: 'text-center' },
                    { data: 'recibe', className: 'text-center' },
                    { data: 'cantidad', className: 'text-center fw-bold' }
                ],
                pageLength: 5,
                searching: false,
                language: {
                    url: "https://cdn.datatables.net/plug-ins/2.3.7/i18n/es-MX.json"
                }
            });

            $('#historialModal').modal('show');
        });
    </script>
}